<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div id="modalContentFormEdit">
    <form th:action="@{/categorias/actualizar/{id}(id=${categoria.id})}" th:object="${categoria}" method="post" >
        <div class="row">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
            </div>
            <div class="col-md-6">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}">
            </div>
        </div>
        <div class="mt-5 d-grid gap-2">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</div>
</body>
</html>